name: "Terraform Docs"

on:
  push:
    branches: [ main ]
    paths:
      - '**.tf'
    paths-ignore:
      - 'docs/**'
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
permissions:
  contents: write
  
jobs:
  terraform:
    uses: gouv-nc-data/github-workflows/.github/workflows/terraform-docs.yml@main
    secrets: inherit
